/Lab1/SimplePerceptron/.vs
/Lab1/SimplePerceptron/packages

/Lab1/SimplePerceptron/SimplePerceptron/bin
/Lab1/SimplePerceptron/SimplePerceptron/obj

/Lab2/KochonenNeuralNetwork/.vs
/Lab2/KochonenNeuralNetwork/packages

/Lab2/KochonenNeuralNetwork/KochonenNeuralNetwork/bin
/Lab2/KochonenNeuralNetwork/KochonenNeuralNetwork/obj

/Lab3/AI_LAB_4/.vs
/Lab3/AI_LAB_4/packages

/Lab3/AI_LAB_4/AI_LAB_4/bin
/Lab3/AI_LAB_4/AI_LAB_4/obj

/Lab4/HopfieldNN/HopfieldNN/bin
/Lab4/HopfieldNN/HopfieldNN/obj
/Lab4/HopfieldNN/HopfieldNN/images/test/MNIST - JPG - testing
/Lab4/HopfieldNN/HopfieldNN/images/train/MNIST - JPG - training